<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<style>
    .infobox {
border-radius: 25px;
border: 3px solid #FFD700;
padding: 10px;
margin-left: 2.5%;
}
</style>
{{>menu}}

<div>
    <div class="row">
        <div class="col">
            <label style="font-size: 60px">Сторінка адміна</label>
        </div>
        <div class="col" align="right">
            <label style="font-size: 50px; color: #FFD700">
                {{username}}&nbsp;&nbsp;&nbsp;
            </label>
        </div>
    </div>


</div>

<hr>


<div>&nbsp;</div>
<div class="row">
    <div class="col">
        <div class="infobox">
            {{#message}}
                {{message}}
            {{/message}}

            {{#need}}
                <div class="container" align="center">
                    <table>
                        <tr>
                            <th>ІПН</th>
                            <th>ПІБ</th>
                            <th>Дата народження</th>
                            <th>Місце прописки</th>
                            <th></th>
                        </tr>
                        {{#users}}
                            <tr>
                                <th>{{#idNum}}{{idNum}}{{/idNum}} {{^idNum}}{{/idNum}}</th>
                                <th>{{#fullName}}{{fullName}}{{/fullName}} {{^fullName}} {{login}} {{/fullName}}</th>
                                <th>{{#dob}}{{dob}}{{/dob}} {{^dob}}{{/dob}}</th>
                                <th>{{#residence}}{{residence}}{{/residence}} {{^residence}}{{/residence}}</th>
                                <th><form action="/decline/{{login}}" method="post">
                                    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                                    <input type="submit" onclick="alert('Відхилено')" value="Відхилити"/>
                                </form>
                                    <form action="/accept/{{login}}" method="post">
                                        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                                        <input type="submit" onclick="alert('Прийнято')" value="Прийняти"/>
                                    </form></th>
                            </tr>
                        {{/users}}
                    </table>

                </div>
            {{/need}}
            {{^users}}
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div align="center">Поки що ніхто з користувачів не потребує підтвердження</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
            {{/users}}
        </div>

    </div>
    <div class="col">
        <div class="row" >
            <div class="col">
                <form action="/user/changePassword" method="get">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                    <input type="submit" value="Змінити пароль"/>
                </form>
                <form action="/candidate/create" method="get">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                    <input type="submit" value="Додати нового кандидата"/>
                </form>
                <form action="/election/create" method="get">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                    <input type="submit" value="Додати нові вибори"/>
                </form>
            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>

        </div>
    </div>
</div>





</body>
</html>