<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>

{{#message}}
    {{message}}
{{/message}}


<form action="/adminInfo" method="post">
    <div><h1>Registration: part 2</h1></div>
    <div><label>Residence: <input type="text", name="residence"/></label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div><input type="submit" value="Enter"/></div>
    <a href="/main">Go to main page</a>
</form>
</body>
</html>