<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>

<div><h1>Admin page</h1></div>

{{#message}}
    {{message}}
{{/message}}


{{#users}}
    <div>
        {{#idNum}} {{idNum}}, {{/idNum}} {{^idNum}}{{/idNum}}
        {{#fullName}}{{fullName}},{{/fullName}} {{^fullName}} {{login}} {{/fullName}}
        {{#dob}}{{dob}},{{/dob}} {{^dob}}{{/dob}}
        {{#residence}}{{residence}}{{/residence}} {{^residence}}{{/residence}}
        <form action="/decline/{{login}}" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="submit" onclick="alert('Відхилено')" value="Відхилити"/>
        </form>
        <form action="/accept/{{login}}" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="submit" onclick="alert('Прийнято')" value="Прийняти"/>
        </form>
    </div>
{{/users}}
{{^users}}

{{/users}}
<div><a href="/user/changePassword">Змінити пароль</a></div>

<div><a href="/candidate/create">Додати нового кандидата</a></div>
<div><a href="/election/create">Додати нові вибори</a></div>

<div><a href="/main">Повернутися на головну сторінку</a></div>
</body>
</html>