<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
{{>menu}}
<div><h1 align="center">Реєстрація: частина 2</h1></div>
<div><h3 align="center">Для того, щоб Ви могли голосувати на цьому ресурсі, слід заповнити наступні дані.</h3></div>


<div class="container">


        <form action="/adminInfo" method="post">
            <div class="box">
                {{#message}}
                    {{message}}
                {{/message}}
                    <div class="row" align="center">
                        <div class="col">
                            <label>Місце: </label>
                        </div>
                        <div class="col">
                            <input type="text" autocomplete="off" class="inputbox" name="residence"/>
                        </div>
                    </div>



                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <div><input type="submit" style="border: 1px solid black" value="Підтвердити"/></div>
            </div>

        </form>

</div>
</body>
</html>