<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>

{{#message}}
    {{message}}
{{/message}}


<form action="/adminInfo" method="post">
    <div><h1>Реєстрація: частина 2</h1></div>
    <div><h3>Для того, щоб Ви могли використовувати можливосі свого профілю, слід заповнити наступні дані.</h3></div>
<!--    змінити формулювання (замість "місце")-->
    <div><label>Місце: <input type="text", name="residence"/></label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div><input type="submit" onclick="alert('Ваші дані відправлено на перевірку. Статус свого профілю Ви зможете побачити на головній сторінці.')" value="Підтвердити"/></div>
    <a href="/main">На головну сторінку</a>
</form>
</body>
</html>