<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
{{>menu}}
<style>
        td, th {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: white;
}
</style>

<div>
    <div class="row">
        <div class="col">
            <label style="font-size: 60px; margin-left: 1.5%;">Додати нового кандидата</label>
        </div>
    </div>
</div>

<hr>

<div class="container">


    <div class="infobox" align="center" style="width:30%; margin-left: 30%">
        <div align="center">
            {{#message}}
                {{message}}
            {{/message}}
        </div>
        <form action="/candidate/create" method="post">
            <table>
                <tr>
                    <td>ПІБ: </td>
                    <td><input type="text" autocomplete="off" class="inputbox" name="fullname"/></td>
                </tr>
                <tr>
                    <td>Дата народження: </td>
                    <td><input type="date" autocomplete="off"  class="inputbox" name="dob" value="{{current}}"/></td>
                </tr>
                <tr>
                    <td>Місце реєстрації: </td>
                    <td><input type="text" autocomplete="off" class="inputbox" name="residence"/></td>
                </tr>
                <tr>
                    <td>Партія</td>
                    <td><input type="text" autocomplete="off" class="inputbox" name="party"/></td>
                </tr>
            </table>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="submit" value="Створити"/>
        </form>
    </div>


</div>

</body>
</html>