<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>

<div><h3>Password change</h3></div>

{{#message}}
    {{message}}
{{/message}}

<form method="post">
    <div>
        <label>Old password
            <input type="password" name="oldPassword"/>
        </label>
    </div>
    <div>
        <label>New password
            <input type="password" name="newPassword"/>
        </label>
    </div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div><input type="submit" value="Зберегти зміни"/></div>
</form>

<a href="/main">Go back</a>

</body>
</html>