<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>

<div><h1>Create new election</h1></div>

{{#message}}
    {{message}}
{{/message}}



<div>
    <form action="/election/create" method="post">
        <input type="text" name="place"/>
        <input type="datetime-local" name="openDate" value="2020-12-23 08:00:00.0"/>
        <input type="datetime-local" name="closeDate" value="2020-12-23 20:00:00.0"/>
        <input type="text" name="type" value="Presidential"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="Create"/>
    </form>
</div>



<a href="/main">Go to main page</a>
</body>
</html>