<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
{{>common}}
<div><h1>Election Details</h1></div>

{{#election}}
    {{openDate}}  {{closeDate}}
    {{#electionType}}
        {{type}}
    {{/electionType}}
{{/election}}

<div><h2>Candidates</h2></div>

{{#message}}
    {{message}}
{{/message}}


{{#result}}

    {{#candidatePercent}}
        <div>
            {{candidate.fullname}},
            {{#candidate.party}}{{candidate.party}}, {{/candidate.party}} Link to program:
            {{#programLink}}<a href="{{programLink}}">Посилання на програму</a>{{/programLink}}
            {{voteNumber}} - {{percent}}%
        </div>
    {{/candidatePercent}}
    {{^candidatePercent}}
        Не знайдено жодного кандидата.
    {{/candidatePercent}}

{{/result}}
{{^result}}
{{#candidateElection}}

    <div>
        {{candidate.fullname}},
        {{#candidate.party}}{{candidate.party}}, {{/candidate.party}} Link to program:
        {{#programLink}}<a href="{{programLink}}">Посилання на програму</a>{{/programLink}}

        {{#vote}}
            <form action="/election/vote/{{id}}" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <input type="submit" value="Vote for this Candidate"/>
            </form>
        {{/vote}}

        <div><a href="/candidate/{{candidate.id}}">Детальніше про кандидата</a> </div>
    </div>

{{/candidateElection}}

{{^candidateElection}}
    {{#some_message}}
        {{some_message}}
    {{/some_message}}
{{/candidateElection}}
{{/result}}

{{#add}}
    <form action="/election/{{id}}/add" method="get">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="Додати кандидатів"/>
    </form>
{{/add}}

<a href="/elections">Go back to elections</a>
<a href="/main">Go to main page</a>
</body>
</html>