<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
{{>menu}}
<style>
    td.blank, th.blank {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
}

tr.blank:nth-child(even) {
  background-color: white;
}
</style>

<div>
    <div class="row">
        <div class="col">
            <label style="font-size: 60px; margin-left: 1.5%;">Деталі</label>
        </div>
    </div>
</div>
<div class="container">
    <table style="font-size: 20px">
{{#election}}
        <tr class="blank">
        {{#electionType}}
            <td class="blank">
                {{type}} вибори
            </td>
        {{/electionType}}
            <td class="blank">Час початку: {{openDate}}</td>
            <td class="blank">Час завершення: {{closeDate}}</td>
        </tr>

    </table>
    {{/election}}
    {{#message}}
        {{message}}
    {{/message}}

</div>


<hr>
<div style="margin: 10px">&nbsp;</div>
<div class="container">
    <div class="infobox">

        <div><h2 style="margin-left: 2.5%">Кандидати</h2></div>
        {{#result}}
            <table style="margin-left: 10%; margin-top: 20px;">
                <tr>
                    <th>ПІБ кандидата</th>
                    <th>Партія</th>
                    <th>Програма</th>
                    <th>К-сть голосів</th>
                    <th></th>
                </tr>
                {{#candidatePercent}}

                    <tr>
                        <td>{{candidate.fullname}}</td>
                        <td>{{#candidate.party}}{{candidate.party}}{{/candidate.party}}{{^candidate.party}}Безпартійний{{/candidate.party}}</td>
                        <td>{{#programLink}}<a href="{{programLink}}">Посилання на програму</a>{{/programLink}}</td>
                        <td>{{voteNumber}}</td>
                        <th>{{percent}}%</th>
                    </tr>

                {{/candidatePercent}}
            </table>
        {{/result}}
        {{^result}}
            <table align="center">
                {{#candidateElection}}


                    <tr>
                        <td>{{candidate.fullname}}</td>
                        <td>{{#candidate.party}}{{candidate.party}}{{/candidate.party}}{{^candidate.party}}Безпартійний{{/candidate.party}}</td>
                        <td>{{#programLink}}<a href="{{programLink}}">Посилання на програму</a>{{/programLink}}</td>
                        <td><a href="/candidate/{{candidate.id}}">Детальніше про кандидата</a> </td>
                        {{#vote}}
                            <td>
                                <form action="/election/vote/{{id}}" method="post">
                                    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                                    <input type="submit" value="Проголосувати за цього кандидата"/>
                                </form>
                            </td>
                        {{/vote}}
                    </tr>

                {{/candidateElection}}
            </table>
            {{^candidateElection}}
                {{#some_message}}
                    <div style="margin-left: 10%; margin-top: 20px;">{{some_message}}</div>
                {{/some_message}}
            {{/candidateElection}}
        {{/result}}

        {{#add}}
            <div style="margin: 10px">&nbsp;</div>
            <form action="/election/{{id}}/add" method="get">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <input type="submit" value="Додати кандидатів"/>
            </form>
        {{/add}}
        <div style="margin: 10px">&nbsp;</div>
    </div>
</div>
</body>
</html>