<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Помилка</title>
</head>
<body>

<div><h1>Йой, сталася помилка!</h1></div>
<div><a href="/">Повернутся на головну</a></div>

</body>
</html>