<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{{>common}}
    <style>
html, body {
  height: 100%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcoDcmXHjansdKfGXeSzCRRLurAUDNjRN_WQ&usqp=CAU);
  background-size: cover;
}

</style>
</head>
<body>

<div class="container">
    <h1 align="center">Про сайт</h1>
    <div align="center">
        тут буде текст про те як зараз реалізований сайт
    </div>
</div>

<div align="center">
    <form action="/main" method="get">
        <input type="submit" value="Головна сторінка">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form>
</div>




</body>
</html>