<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{{>common}}
    <style>
html, body {
  height: 100%;
  background-image: url(https://indepth-network.org/isc2018/images/slideshow/background.jpg);
  background-size: cover;
}

</style>
</head>
<body>

<div class="container" style="margin-top: 70px">
    <h1 align="center">Про сайт</h1>
    <div class="container" style="width:60%">
        <div style="margin-top: 30px">
            <p>Даний сайт являє собою початкову модель того, як в теорії може виглядати
                сайт, що використовується для проведення виборів президента України онлайн.
            </p>
            <p>Для викорисовування можливостей сайту, необхідно увійти в систему. При натисненні кнопки
                "Головна сторінка" вас може переправити на сторінку входу (якщо ви не аутентифіковані).
            Якщо ви захочете створити свій акаунт для голосування, то після реєстрації при переході на свою персональну сторінку
             Вам буде необхідно додати інформацію про себе, а саме:</p>
            <ul>
                <li>Індивідуальний податковий номер</li>
                <li>Прізвище, ім'я, по-батькові</li>
                <li>Дата народження у форматі ММ/ДД/РРРР</li>
                <li>Місце реєстрації за наступними шаблонами:</li>
                    <ul>
                        <li>(Якщо обласний центр): м.ХХХ, XXX район</li>
                        <li>(Якщо міський населений пункт): ХХХ обл., ХХХ р-н., (м.ХХХ, ХХХ район)/(смт.ХХХ)</li>
                        <li>(Якщо сільський населений пункт): ХХХ обл., ХХХ р-н., с.ХХХ</li>
                    </ul>
            </ul>
            <p>Для створення акаунту адміністратора також необхідно ввести додаткову інформацію - назву області або міста,
             з якого будуть приходити запити на Вашу сторінку. Наприклад, якщо було введено "Одеська обл.", то на даний
            акаунт адміна, пілся підтвердження його інформації головним адміном, буде приходити на опрацювання саме ті виборці,
             що ввели місце реєстрації, що знаходиться в Одеській області, не враховуючи обласний центр.</p>
            <b style="color: red">УВАГА</b>
            <p>Поки вашу інформацію не підтвердять адміністратори, Ви не зможете використовувати можливості свого профілю
            в повній мірі. Статус Вашої інформації можна буде переглянути на головній сторінці.</p>
            <p>Якщо Ви готові, натискайте кнопку, що знаходиться нижче. Ви зможете повернутися на цю сторінку за допомогою меню.</p>
        </div>
    </div>
</div>

<div align="center" style="margin-top: 30px">
    <form action="/main" method="get">
        <input type="submit" value="Головна сторінка">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form>
</div>




</body>
</html>