<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
{{>menu}}

<div>
    <div class="row">
        <div class="col">
            <label style="font-size: 60px">Головна сторінка</label>
        </div>
        <div class="col" align="right">
            <label style="font-size: 50px; color: #FFD700">
                {{login}}&nbsp;&nbsp;&nbsp;
            </label>
        </div>
    </div>


</div>
<hr>
<div>
    {{#accepted}}
        <div class="accepted">
            <div>Вашу інформацію підтверджено.</div>
            <div>Ви можете в повному обсязі використовувати можливості свого профілю.</div>
        </div>
    {{/accepted}}
    {{#processing}}
        <div class="processing">
            <div>Ваша інформація оброблюється.</div>
            <div>Після підтвердження Ви зможете в повному обсязі використовувати можливості свого профілю.</div>
        </div>
    {{/processing}}
    {{#declined}}
        <div class="declined">
            <div>Інформація, яку ви надали, відхилена.</div>
            <div>При переході на свою персональну сторінку Вам доведеться ще раз ввести усю інформацію.</div>
        </div>
    {{/declined}}
</div>

<div><label style="font-size: 35px; margin-left: 20px; margin-top: 20px;">&nbsp;&nbsp;Результати виборів</label></div>

<div class="container" align="center">
    <table style="margin-top: 20px;">
        <tr>
            <th>Вид виборів</th>
            <th> Час відкриття голосування</th>
            <th> Час завершення голосування</th>
            <th> Переможець</th>
            <th></th>
        </tr>
{{#celections}}
        <tr>
            <th>{{election.electionType.type}} вибори</th>
            <th>{{election.openDate}}</th>
            <th>{{election.closeDate}}</th>
            <th>{{#candidate.fullname}}
                    {{candidate.fullname}}
                {{/candidate.fullname}}
                {{^candidate.fullname}}
                    -
                {{/candidate.fullname}}</th>
            <th><a href="/election/{{election.id}}/details">Деталі</a></th>
        </tr>
{{/celections}}
    </table>
</div>


</body>
</html>