<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<div><h1>Реєстрація</h1></div>
{{#message}}
    {{message}}
{{/message}}

<form action="/registration" method="post">

    <div><label>Логін: <input type="text", name="username"/></label></div>
    <div><label>Пароль: <input type="password", name="password"/></label></div>
    <div><label>Стати адміном <input type="checkbox", name="admin"/></label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div><input type="submit" value="Зареєструватися"/></div>
</form>
<div>Вже є аккаунт? <a href="/login">Увійти</a> </div>
</body>
</html>