<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>

<div><h1>Реєстрація: частина 2</h1></div>
<div><h3>Для того, щоб Ви могли голосувати на цьому ресурсі, слід заповнити наступні дані.</h3></div>

{{#message}}
    {{message}}
{{/message}}

{{#user}}
    <form action="/userInfo" method="post">

        {{#idNum}}<div><label>ІПН: <input type="text", name="idNum" value="{{idNum}}"/></label></div>{{/idNum}}
        {{^idNum}}<div><label>ІПН: <input type="text", name="idNum"/></label></div>{{/idNum}}
        {{#fullname}}<div><label>ПІБ: <input type="text", name="fullname" value="{{fullName}}"/></label></div>{{/fullname}}
        {{^fullname}}<div><label>ПІБ: <input type="text", name="fullname"/></label></div>{{/fullname}}
        {{#dob}}<div><label>Дата народження: <input type="date", name="dob" value="{{dob}}"/></label></div>{{/dob}}
        {{^dob}} <div><label>Дата народження: <input type="date", name="dob"/></label></div>{{/dob}}
        {{#residence}}<div><label>Місце прописки: <input type="text", name="residence" value="{{residence}}"/></label></div>{{/residence}}
        {{^residence}}<div><label>Місце прописки: <input type="text", name="residence"/></label></div>{{/residence}}
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <div><input type="submit" value="Підтвердити"/></div>

    </form>
{{/user}}

<a href="/main">Повернутися на головну сторінку</a>
</body>
</html>