<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Помилка 400</title>
</head>
<body>
{{>common}}
<div><h1>Помилка 400</h1></div>
<div><h3>Сервер не зміг зрозуміти Ваш запит.</h3></div>
<div>Перевірте його ще раз.</div>


<a href="/">Повернутися на головну</a>

</body>
</html>