<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Помилка 404</title>
</head>
<body>
<div><h1>Помилка 404</h1></div>
<div><h3>Сторінку не знайдено</h3></div>
<div>Перевірте ще раз свій запит.</div>


<a href="/">Повернутся на головну</a>

</body>
</html>