<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Помилка 500</title>
</head>
<body>
<div><h1>Помилка 500</h1></div>
<div><h3>Помилка з нашого боку!</h3></div>
<div>Поверніться сюди трохи пізніше. Дякуємо за розуміння!</div>


<a href="/">Повернутся на головну</a>

</body>
</html>